<!--
    Website:Ryan's showcase,
    Author:Ryan Yizhao Huang,
    Description:Ryan Huang's portfolio
-->
<!DOCTYPE html>
<!-- Page Header -->
<html lang="en">
    <head>
        <meta chartset="utf-8">    
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title><%=title%></title>
        <!-- link to css files -->
        <link rel='stylesheet' href='/scripts/libs/bootstrap/dist/css/bootstrap-theme.min.css' />
        <link rel='stylesheet' href='/scripts/libs/bootstrap/dist/css/bootstrap.min.css' />
        <link rel="stylesheet" href="/scripts/libs/font-awesome/css/font-awesome.min.css"/>
        <link href="https://fonts.googleapis.com/css?family=Droid+Sans:700|Kaushan+Script|Open+Sans:400i|Pacifico|Roboto|Monda|Ubuntu:700i" rel="stylesheet">
        <link rel="stylesheet" href="/css/style.css"/>
        <meta name="website" content="Ryan's showcase">
        <meta name="author" content="Ryan Yizhao Huang">
        <meta name="description" content="Ryan Huang's portfolio">
    </head>
    </head>
    <body>