<!-- jumbotron component -->
<div class="jumbotron font_kaushan Jumbotron_background">
  <h1>Innovate what human wants</h1>
  <p class="font_monda">Now is a technical world, people want technology to help improving their daily life. People have dream but no idea how it will come true. Ryan is here to help, let me help your technial dream come true.</p>
  <a href="about" class="btn btn-primary btn-lg">About Me</a>
</div>
<!-- end jumbotron component -->