<!--about.ejs-->
<% include partials/header.ejs %>
<% include partials/navigationBar.ejs %> 

<!-- Body Container -->
<div class="container">
    <h2><%= title %></h2>
    <div class="row">
        <div class="col-md-7 font_opensans">
        <p>Hi, I am a student studying at Centennial College. I am taking Software Engineering Technoligy course. This is my 6 semester.</p>
        <p>Here is the courses I am taking at this semster:</p>
        <ul>
            <li>COM308 Emerging Technoligy</li>
            <li>COMP303 JavaEE</li>
            <li>COMP321 System Integration</li>
            <li>GNED137 A Wellness Approach</li>
            <li>COMP381 Tools,Alogrithms</li>                                    
        </ul>
        <p>I am familiar with C Sharp, Java, Java EE, Android Mobile Development, 
        Azure, MEAN Web development stack, ASP.Net Core, SQL Query Language, MSSQL Database,
         MS Database, Oracle Database all kind of these knowledge.</p>
         <p>I am a positive person. Also a team player and a good listener. I have a strong problem solving skill. </p>
        </div>
        <!-- my image-->
        <div class="col-md-1 col-md-offet-1"></div> 
        <div class="col-md-4">
            <img src="asset/images/ryan.jpg" alt="Ryan's image" style="width: 250px; height: 250px;" class="img-rounded">
        </div>
        <!--End my image-->
    </div>
</div>
<!-- Body Container End-->
<% include partials/footer.ejs %>