<!--services.ejs-->
<% include partials/header.ejs %>
<% include partials/navigationBar.ejs %> 

<!-- Body Container -->
<div class="container">

    <% include partials/Jumbotron.ejs %>
    <!--services list container-->
    <div class="Container">
        <div class="row">
            <h2>Ryan's Services</h2>
            <div class="progress progress-striped active pro_background">
                <div class="progress-bar" style="width: 75%">C# - Window Application</div>
            </div>

            <div class="progress progress-striped  active pro_background">
                <div class="progress-bar progress-bar-info" style="width: 100%">Android</div>
            </div>

            <div class="progress progress-striped  active pro_background">
                <div class="progress-bar progress-bar-success" style="width: 60%">Java - JavaFx, JSP Website</div>
            </div>

            <div class="progress progress-striped  active pro_background">
                <div class="progress-bar progress-bar-warning" style="width: 75%">ASP.NET</div>
            </div>

            <div class="progress progress-striped  active pro_background">
                <div class="progress-bar progress-bar-danger" style="width: 80%">MEAN Web Stack - MongoDB, ExpressJs, Angular, NodeJs, </div>
            </div>
        </div>
    </div>
    <!--end services list container-->
</div>
<!-- Body Container End-->
<% include partials/footer.ejs %>