<!--404.ejs-->
<% include ../partials/header.ejs %>
<% include ../partials/navigationBar.ejs %> 
<!-- Body Container -->

<div class="container">
    <div class="row">
            <div class="col-md-7">

                <img class="alignnone size-full wp-image-116942     lazyloaded td-animation-stack-type0-2" src="https://wpmultiverse-7yjjgrl.netdna-ssl.com/wp-content/uploads/404-to-301-WordPress-Plugin.png" data-lazy-src="https://wpmultiverse-7yjjgrl.netdna-ssl.com/wp-content/uploads/404-to-301-WordPress-Plugin.png" alt="404 to 301 WordPress Plugin" width="771" height="247" data-lazy-srcset="https://wpmultiverse-7yjjgrl.netdna-ssl.com/wp-content/uploads/404-to-301-WordPress-Plugin.png 771w, https://wpmultiverse-7yjjgrl.netdna-ssl.com/wp-content/uploads/404-to-301-WordPress-Plugin-300x96.png 300w, https://wpmultiverse-7yjjgrl.netdna-ssl.com/wp-content/uploads/404-to-301-WordPress-Plugin-768x246.png 768w, https://wpmultiverse-7yjjgrl.netdna-ssl.com/wp-content/uploads/404-to-301-WordPress-Plugin-696x223.png 696w" data-lazy-sizes="(max-width: 771px) 100vw, 771px" srcset="https://wpmultiverse-7yjjgrl.netdna-ssl.com/wp-content/uploads/404-to-301-WordPress-Plugin.png 771w, https://wpmultiverse-7yjjgrl.netdna-ssl.com/wp-content/uploads/404-to-301-WordPress-Plugin-300x96.png 300w, https://wpmultiverse-7yjjgrl.netdna-ssl.com/wp-content/uploads/404-to-301-WordPress-Plugin-768x246.png 768w, https://wpmultiverse-7yjjgrl.netdna-ssl.com/wp-content/uploads/404-to-301-WordPress-Plugin-696x223.png 696w" sizes="(max-width: 771px) 100vw, 771px">
            </div>
    </div>
</div>

<!-- Body Container End-->
<% include ../partials/footer.ejs %>