<!--500.ejs Internal Server Error-->
<% include ../partials/header.ejs %>
<% include ../partials/navigationBar.ejs %> 
<!-- Body Container -->

<div class="container">
    <div class="row">
            <div class="col-md-7">

                <h1><%= title %><h1>
                <p><%= error %></p>
                <p><img width="640" height="480" class="entry-thumb td-animation-stack-type0-2" src="http://www.wpproblems.com/wp-content/uploads/2016/12/500-server-error-image.png" srcset="http://www.wpproblems.com/wp-content/uploads/2016/12/500-server-error-image.png 640w, http://www.wpproblems.com/wp-content/uploads/2016/12/500-server-error-image-300x225.png 300w, http://www.wpproblems.com/wp-content/uploads/2016/12/500-server-error-image-80x60.png 80w, http://www.wpproblems.com/wp-content/uploads/2016/12/500-server-error-image-265x198.png 265w, http://www.wpproblems.com/wp-content/uploads/2016/12/500-server-error-image-560x420.png 560w" sizes="(max-width: 640px) 100vw, 640px" alt="500 server error image" title="500 server error image"></p>
            </div>
    </div>
</div>

<!-- Body Container End-->
<% include ../partials/footer.ejs %>